<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
  <h5>Welcome to the Technology Forecast Application!</h5>
</div>

<div class="row">
  <div class="col-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">What to expect?</h5>
      </div>
      <div class="card-body">
        Using the various representation and comparison charts the tools aims at providing some interesting trends that might play an important role in identifying the best toolset from the plethora of available tools.
      </div>
    </div>
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Current Trends</h5>
      </div>
      <div class="card-body">
        <ul>
          <li>Get insights of the searched technology since 2012.</li>
          <li>Compare current trend with other technologies</li>
        </ul>
      </div>
    </div>
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Popularity Forecast</h5>
      </div>
      <div class="card-body">
        Forecast the demand of the searched technologies overtime
      </div>
    </div>
  </div>
  <div class="col-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">About Effective Score</h5>
        </div>
        <div class="card-body">
          The effective score is a <b>calculated value</b> using various stackoverflow data attributes for a tag.
          <br>
          <br>
          <br>
          <img class="image" style="position: relative;top: auto;left: auto;width: auto;height: auto;margin-top: auto;margin-left: auto;" src ="assets/img/escore.png" alt="">
        </div>
      </div>
  </div>
  <div class="col-6"></div>
  <div class="col-6"></div>

</div>
