<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
  <div class="row justify-content-md-center m-5">

    <form>
      <div class="input-group">
        <!--          <input type="text" value="" class="form-control" placeholder="Search...">-->
        <ng-select [items]="categories"
                   bindLabel="name"
                   appendTo="body"
                   placeholder="Search here ..."
                   [multiple]="true"
                   [(ngModel)]="selected"
                   class="form-control"
                   name="test"
                   style="width: 400px"
        >
        </ng-select>
        <div class="input-group-append" (click)="getSelectedValue()">
          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split" ></i>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div [hidden]="selected" class="row justify-content-md-center m-5">
    <h2>Start by selecting one or more tags (technologies) from the dropdown and then click on the search icon!</h2>
  </div>
  <div [hidden]="!selected" class="row">
    <div class="col-md-12 mx-auto">         <!--col-sm-7 mx-auto"-->

    <div class="card">                  <!-- card-chart -->
      <div class="card-header">
        <h5 class="card-title">Demand Forecast for next 2 years</h5>
        <p class="card-category">Popularity index based on effective score</p>
      </div>
      <div [hidden]="!queryStarted" class="card-body">
        <img style="position: relative;top: auto;left: auto;width: auto;height: auto;margin-top: auto;margin-left: auto;" class="justify-content-md-center" src="assets/img/loader.gif">
      </div>
      <div [hidden]="!isLoaded" class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
