<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
</head>
<div>
  <div class="row justify-content-md-center m-5">
    <form>
      <div class="input-group">
        <!--          <input type="text" value="" class="form-control" placeholder="Search...">-->
        <ng-select [items]="categories "
                   bindLabel="name"
                   appendTo="body"
                   placeholder="Search here ..."
                   [multiple]="true"
                   [(ngModel)]="selected"
                   class="form-control"
                   name="test"
                   style="width: 400px"
                   loadingText="Loading..."
        >
        </ng-select>
        <div class="input-group-append" (click)="getSelectedValue()">
          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split" ></i>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Comparative Analysis for Current Year 2020</h5>
          <p class="card-category">Go for the best fit!</p>
        </div>
        <div class="card-body ">
          <canvas id="chartComparison"></canvas>
        </div>
        <div class="card-footer ">
          <div class="stats">
            <i class="fa fa-check"></i> Top recommended Technology Stack
          </div>
        </div>
      </div>
    </div>
</div>
</div>
