<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
<div class="row justify-content-md-center m-5">
  <form>
    <div class="input-group">
      <!--          <input type="text" value="" class="form-control" placeholder="Search...">-->
      <ng-select [items]="categories"
                 bindLabel="name"
                 appendTo="body"
                 placeholder="Search here ..."
                 [(ngModel)]="selected"
                 class="form-control"
                 name="test"
                 style="width: 400px"
      >
      </ng-select>
      <div class="input-group-append" (click)="getSelectedValue()">
        <div class="input-group-text">
          <i class="nc-icon nc-zoom-split" ></i>
        </div>
      </div>
    </div>
  </form>
</div>
  <div class="row">
    <div class="col-md-12 mx-auto">

      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Current Trends</h5>
          <p class="card-category">Stack Community Support</p>
        </div>
        <div class="card-body ">
          <canvas id=chartHours width="400" height="100"></canvas>
        </div>
        <div class="card-footer ">
          <hr>

        </div>
      </div>
    </div>
  </div>
</div>
