<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
  <div class="row justify-content-md-center m-5">
    <form>
      <div class="input-group">
        <!--          <input type="text" value="" class="form-control" placeholder="Search...">-->
        <ng-select [items]="categories"
                   bindLabel="name"
                   appendTo="body"
                   placeholder="Search here ..."
                   [(ngModel)]="selected"
                   class="form-control"
                   name="test"
                   style="width: 400px"
        >
        </ng-select>
        <div class="input-group-append" (click)="getSelectedValue()">

          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split"></i>
          </div>
        </div>

        <!--FOR PIE CHART REPUTATION  by VJ trial -->
        <!--<div class="input-group-append" (click)="getReputation_answered()">
          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split" ></i>
          </div>
        </div>
      -->


      </div>
    </form>
  </div>
  <div [hidden]="selected" class="row justify-content-md-center m-5">
    <h2>Start by selecting a tag(technology) from the dropdown and then click on the search icon!</h2>
  </div>
  <div [hidden]="!isLoaded[0]" *ngIf="tagInfo" class="row">
    <div class="col-md-12 mx-auto">

      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">About {{this.selected.name}}</h5>
          <p class="card-category">Stackoverflow based wiki</p>
        </div>
        <div class="card-body" style="max-height: 25vh;overflow-y: scroll;" [innerHTML]="tagInfo[0]">
        </div>
        <div class="card-footer ">
          <hr>

        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!isLoaded[1]" class="row">
    <div class="col-md-12 mx-auto">

      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Current Trends</h5>
          <p class="card-category">Popularity index based on effective score</p>
        </div>
        <div class="card-body ">
          <canvas id=chartHours width="400" height="100"></canvas>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div [hidden]="!isLoaded[2]" class="col-6 mx-auto">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Quality of users involved in case of Answered Questions</h5>
          <p class="card-category">Based on user reputation on StackOverFlow</p>
        </div>
        <div class="card-body ">
          <canvas id="chartReputationA"></canvas>
        </div>
      </div>
    </div>
    <div [hidden]="!isLoaded[3]" class="col-6 mx-auto">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Quality of users involved in case of Unanswered Questions</h5>
          <p class="card-category">Based on user reputation on StackOverFlow</p>
        </div>
        <div class="card-body ">
          <canvas id="chartReputationU"></canvas>
        </div>

      </div>
    </div>
  </div>


  <div class="row">

  </div>

</div>
